.manrope{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}

/* Resetando margens e padding para todos os elementos */
body, h1, h2, h3, p, ul, li, a, section, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do body */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Preto suave para o fundo */
    color: #e0e0e0; /* Cinza claro para o texto */
    line-height: 1.6;
}

/* Estilo do header */
header {
    background-color: whitesmoke;
    color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.logo {
    max-width: 150px;
    height: auto;
}

/* Estilo da navegação */
.nav-links {
    display: flex;
    gap: 2rem;
    margin: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #9e9e9e; /* Cinza médio ao passar o mouse */
}

/* Estilo do main */
main {
    text-align: center;
    padding: 2rem;
}

/* Estilo das seções dentro do main */
section {
    margin-bottom: 2rem;
}

/* Estilo do título h2 */
h2 {
    font-size: 2.5rem;
    color: #e0e0e0; /* Texto em cinza claro */
}

/* Estilo do parágrafo p */
p {
    font-size: 1.2rem;
    color: #e0e0e0;
}

/* Estilo da div para redes sociais */
.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* Estilo dos links das redes sociais */
.social-links a {
    color: #e0e0e0;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #9e9e9e;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
